* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: sans-serif;
    background-color: white;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
}

.header {
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    top: 28px;
    left: 15px;
}

.header img {
    height: 90px;
}

.header a {
    display: inline-block;
    background: #e50914;
    color: white;
    align-self: flex-start;
    padding: 8px 18px;
    border-radius: 3px;
    text-decoration: none;
}

.main {
    padding-top: 4rem;
    height: 700px;
    background-image: url(./img/principal.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.main-child{
    z-index: 1;
    display: grid;
    justify-items: center;
}

.main h1 {
    font-size: 45px;
    max-width: 634px;
    color: aliceblue;
}

.main span {
    font-size: 26px;
    margin-top: 10px;
}

.form-cta {
    display: grid;
    grid-template-columns: 500px 250px;
    margin-top: 30px;
    margin-top: 10px;
}

.form-cta input {
    padding: 17px 10px;
    font-size: 18px;
    font-family: sans-serif;
}

.form-cta button {
    background: #e50914;
    outline: none;
    border: none;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.form-cta button::after {
    content: "";
    display: inline-block ;
    width: 10px;
    height: 20px;
    background: url(./img/seta.svg);
    margin-left: 10px;
}

.form-cta button:hover {
    background: #ef4612;
}

.main p {
    font-size: 19px;
}

.gradient {
     background: rgba(0, 0 ,0 , 0.6);
     background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,
                                              rgba(0,0,0,0) 60%,
                                              rgba(0,0,0,.8) 100%);
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;  
}

.section {
    background: black;
    padding: 3rem 0;
    border-top: 8px solid #222;
}

.section h1 {
    font-size: 50px;
    margin-bottom: 16px;
}

.section p {
    font-size: 16px;
}

.grid {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    align-items: center;
    color: aliceblue;
}

.img-tv {
    position: relative;
}

.img-tv img {
    position: relative;
    z-index: 1;
}

.video-tv {
    position: absolute;
    width: 400px;
    top: 80px;
    left: 70px;
}


.download .grid > div:first-child {
    order: 2;
}
  
.download .img-tv {
    order: 1;
}
  
.device-pile .video-tv {
    width: 340px;
    top: 45px;
    left: 100px;
}
  
.footer .form-cta {
    margin-top: 0;
}
  
.footer {
    padding: 4rem 0 2rem 0;
    border-top: 8px solid #222;
    background: black;
    text-align: center;
    display: grid;
    justify-items: center;
}
  
.footer p {
    margin-top: 2rem;
    color: #757575;
    font-size: 13px;
}

 